<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restourant</title>
  </head>
  <body>
    <a href="#content" class="skip_link">Skip ?</a>

    <!-- Mobile Navbar -->
    <div class="menu_mobile">
      <div class="icon_menu" id="menu">
        <a href="#">&#9776;</a>
      </div>
      <div class="logo_mobile">Restourant</div>
      <div class="logo_mobile">&nbsp;</div>
    </div>
    <nav id="drawer" class="nav_mobile">
      <ul class="nav_list_mobile">
        <li class="nav_items_mobile"><a href="">Home</a></li>
        <li class="nav_items_mobile"><a href="#">Favorite</a></li>
        <li class="nav_items_mobile">
          <a target="_blank" href="https://www.linkedin.com/in/diyawan-dawan-a22394215">About Us</a>
        </li>
      </ul>
    </nav>

    <!-- Desktop Navbar -->
    <nav class="nav">
      <a class="logo" href="">Restourant</a>
      <ul class="nav_list">
        <li class="nav_items"><a href="">Home</a></li>
        <li class="nav_items"><a href="#">Favorite</a></li>
        <li class="nav_items">
          <a target="_blank" href="https://www.linkedin.com/in/diyawan-dawan-a22394215">About Us</a>
        </li>
      </ul>
    </nav>

    <!-- Jumbotron -->
    <div
      class="hero"
      style="
        background-image: linear-gradient(
            rgba(134, 134, 170, 0.5),
            rgba(58, 58, 87, 0.5)
          ),
          url('images/cover.jpg');
      "
    >
      <div class="hero_inner">
        <h1 class="hero_title">Restourant</h1>
        <p class="hero_subtitle">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, ab cumque esse iure quisquam natus blanditiis similique laudantium doloremque corrupti suscipit, maxime facere dolores sint magnam voluptatum! Beatae, fugit ab.
        </p>
      </div>
    </div>

    <!-- Content -->
    <main id="content">
      <section class="content">
        <div class="latest">
          <hr>
          <h1>Explore Restaurant</h1>
          <hr>
          <div class="list" id="tes"></div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <p>Copyright &copy; Diyawan 2023</p>
    </footer>
  </body>
</html>
